h5 { color: red; }

.c-grid__center {
    .m-game-chat {  }

    .m-roles {
        justify-content: center;
        border: 1px solid #3c3c3c;
        border-radius: 3px;
        padding: 5px;
        margin: 3px;
        background: @color-bg-header;
    }
    .m-roles__item { margin: 0; }

    .m-game-chat__section { background-size: cover; }

    .b-chat-form.b-chat-form--low {
        &::before,
        &::after,
        .bg-text {
            height: 78px;
        }
    }
    .quattro {
        display: flex;
        flex-wrap: nowrap;
    }
}


@media (min-width: 1081px) {
    .c-grid__center {
        .m-game-chat { padding: 0 10%; }
    }

}
@media (min-width: 961px) and (max-width: 1080px) {
    .c-grid__center {
        .m-game-chat { padding: 0 5%; }
    }

}
@media (min-width: 641px) and (max-width: 960px) {
    .c-grid__center {
        .m-game-chat { padding: 0; }
    }
}
@media (max-width: 640px) {
    .c-grid__center {
        .m-game-chat { padding: 0; }
        .s-text {
            padding: 5px 10px;
            border-radius: 15px;

        }
        .s-text.s-text--media {
            padding: 0 10px 0 80px;
            height: 35px;
            justify-content: flex-start;

            img { height: 35px; }
        }
        .s-text__inner {
            font-size: 1.4rem;
            line-height: 1.8rem;
        }

        .quattro { width: 100%; }
        .m-roles__item {
            width: 25%;
            height: 12vw;
            background-size: cover;

            &:not(:last-child) { margin-right: 5px; }
            .m-roles__number {
                font-size: 3vw;
                left: 15%;
            }
            .b-ava {
                width: 30%;
                height: auto;
                margin: 0;
                right: 5%;
            }

            .m-roles__name {
                bottom: 0;
                right: 5%;
                width: 90%;

                span {
                    font-size: 3vw;
                    font-weight: 500;
                    align-self: flex-end;
                }
            }
            .m-roles__hint {
                right: -1vw;
                font-size: 3vw;
                width: 4vw;
                height: 4vw;
                font-weight: bold;
            }
            .m-roles__btn {
                width: 80%;
                height: 40%;
                top: 55%;
            }
            &.m-roles__item--selected::after,
            &.m-roles__item--selected2::after {
                top: 2px;
                left: 0;
                right: 0;
                bottom: -1px;
            }
        }
        .m-game-chat {
            .b-notice { margin-bottom: 5px; }
            .b-notice.b-notice--end { margin-bottom: 20px; }
            .b-counter { font-size: 5vw; }
            .b-counter__item { height: 7vw; line-height: 7vw;}
            .b-ava {
                width: 11vw;
                height: 11vw;
                margin-right: 8px;
            }
            .s-text__inner {
                font-size: 3vw;
                line-height: 4vw;
                display: block;
            }
        }
    }
}